/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 nov. 2016, 04:03:10
    Author     : KLO
*/

body{
    font-family: calibri light;
    font-size: 14px;
}

table{
    width:90%;
    margin: auto;
}

td{
    line-height:1.7em;
    vertical-align:middle;    
}

#capteur{
    width: 210px;
    height: 290px;
    margin: auto;
    border: 1px solid grey;
}

#photo{
    text-align:center;
    width: 195px;
    height: 182px;
    margin: auto;
    padding-top: 5px;
    margin-top: 6px;
    border: 1px solid grey;
}

#cadre_milieu{
    width: 195px;
    margin: auto;
    margin-top: 4px;
    height: 25px;
}

#nom_capteur{
    width: 125px;
    float: left;
    height: auto;
    padding-top: 7px;
}

#on-off{
    float: right;
    padding-top: 3px;
    height: 30px;
    text-align: right;
    margin-right: 5px;
}

#conso{
    margin-top: 18px;
    margin-left: 5px;
    width: 150px;
    float: left;
    height: 30px;
    padding-top: -10px;
}

#stat{
    width: 38px;
    float: right;
    padding-right: 5px;
    margin-top: 12px;
    text-align: right;
    margin-right: 4px;
}

#add{
    width: 192px;
    height: auto;
    margin: auto;
    text-align: center;
}

#propriete_autre{
    margin-left: 5px;
    width: 200px;
    float: left;
    height: 50px;
    padding-top: -10px;
}

.slider{
    width:120px;
}

.heat{
    width: 45px;
}