/* 
    Created on : 28 nov. 2016, 04:03:10
    Author		: KLO
	Update		: Mathieu Febvay
*/

*
{
	box-sizing: border-box;
}

body
{
    font-family: calibri light;
    font-size: 14px;
	background: #e2e1e0;
	text-align: center;
}

.sensor
{
    background: #ffffff;
	border-radius: 2px;
	display: inline-block;
	height: auto;
	min-height:450px;
	width: 300px;
	margin: 2rem;
	position: relative;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
/*
.sensor:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/
.sensor-picture-type
{
    text-align:center;
    margin: 5px;
	margin-top: 10px;
}

.middle-frame
{
    width: 200px;
	height: 20px;
    margin: auto;
    margin-top: 10px;
}

.sensor-name
{
    float: left;
    margin: auto;
	margin-top: 12px;
	height: 20px;
	border: none;
}

.state
{
    float: right;
	margin: auto;
}

.bottom-frame
{
    width: auto;
    margin: auto;
    margin-top: 20px;
    height: auto;
}

.sensor-value
{
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    float: left;
    height: 20px;
    margin-right: 10px;
	text-align: center;
}

.statistical
{
    float: right;
    margin-top: 30px;
    text-align: right;
    margin-right: 10px;
}

.other-properties
{
    margin: auto;
	margin-top: 10px;
    width: 300px;
    height: auto;
}

.label-color
{
	text-align: center;
	margin: auto;
	margin-left: 30px;
	margin-top:10px;
	height: 20px;
	float: left;
}

.label-luminosity
{
	text-align: center;
	margin: auto;
	margin-left: 30px;
	margin-top: 10px;
	height: 20px;
	float: left;
}

.label-temperature
{
	text-align: center;
	margin: auto;
	margin-left: 30px;
	margin-top:10px;
	height: 20px;
	float: left;
}

.choose-color
{
	text-align: right;
	width: 150px;
	margin: auto;
	margin-right: 30px;
	margin-top:10px;
	height: 20px;
	float: right;
}

.choose-luminosity
{
	text-align: center;
	width: 90px;
	margin: auto;
	margin-right: 30px;
	margin-top:10px;
	height: 20px;
	float: right;
}

.choose-temperature
{
	text-align: right;
	width: 45px;
	margin: auto;
	margin-right: 40px;
	margin-top:10px;
	height: 20px;
	float: right;
}

.add-sensor
{
	background: #ffffff;
	border-radius: 2px;
	height:300px;
	width: 300px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 2rem;
	display: inline-block;
	position: relative;
}

#add
{
    margin: auto;
	margin-top: 22px;
	
	text-align: center;
	
}
