/* 
    Created on : 28 nov. 2016, 04:03:10
    Author		: KLO
	Update		: Mathieu Febvay
*/

body
{
    font-family: calibri light;
    font-size: 14px;
	background: #e2e1e0;
	text-align: center;
}

.sensor
{
    background: #ffffff;
	border-radius: 2px;
	display: inline-block;
	height: auto;
	min-height:300px;
	width: 300px;
	margin: 2rem;
	position: relative;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
/*
.sensor:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/
.sensor-picture-type
{
    text-align:center;
    width: 195px;
    height: 182px;
    margin: auto;
    padding-top: 5px;
    margin-top: 6px;
}

.middle-frame
{
    width: 250px;
    margin: auto;
    margin-top: 4px;
    height: 25px;
}

.sensor-name
{
    width: 125px;
    float: left;
    height: auto;
    padding-top: 7px;
}

.state
{
    float: right;
    padding-top: 3px;
    height: 30px;
    text-align: right;
}

.bottom-frame
{
    width: 300px;
    margin: auto;
    margin-top: 4px;
    height: 25px;
}

.sensor-value
{
    margin-top: 18px;
    margin-left: 5px;
    width: 300px;
    float: left;
    height: 30px;
    margin-right: 10px;
	text-align: center;
}

.statistical
{
    width: 38px;
    float: right;
    padding-right: 5px;
    margin-top: 12px;
    text-align: right;
    margin-right: 4px;
}

#add
{
    width: 192px;
    height: auto;
    margin: auto;
    text-align: center;
}

.other-properties
{
    margin-left: 5px;
    width: 200px;
    float: left;
    height: 50px;
    padding-top: -10px;
}

.slider
{
    width:90px;
}

.heat
{
    width: 45px;
}
