/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 nov. 2016, 04:03:10
    Author     : KLO
*/

body{
    font-family: calibri light;
    font-size: 14px;
}

table{
    width:90%;
    margin: auto;
}

td{
    line-height:1.7em;
    vertical-align:middle;    
}

#capteur{
    width: 192px;
    height: 258px;
    margin: auto;
    border: 1px solid grey;
}

#photo{
    text-align:center;
    width: 184px;
    height: 184px;
    margin: auto;
    padding-top: 5px;
    margin-top: 4px;
    border: 1px solid grey;
}

#cadre_milieu{
    width: 184px;
    margin: auto;
    margin-top: 4px;
    height: 25px;
    border: 1px solid grey;
}

#nom_capteur{
    width: 120px;
    float: left;
    height: auto;
    padding-left: 4px;
}

#on-off{
    width: 52px;
    float: right;
    padding-right: 4px;
    padding-top: 3px;
    height: auto;
    text-align: right;
}

#cadre_bas{
    width: 184px;
    margin: auto;
    margin-top: 4px;
    height: 25px;
}

#conso{
    width: 152px;
    float: left;
    height: auto;
    padding-left: 4px;
    border: 1px solid grey;
}

#stat{
    width: 20px;
    float: right;
    padding-right: 2px;
    padding-top: 2px;
    margin-right: -1px;
    height: 22px;
    text-align: right;
    border: 1px solid grey;
}

#add{
    width: 192px;
    height: auto;
    margin: auto;
    text-align: center;
}
